body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: white;
    background: black;
    font-size: 5rem;
    text-align: center;
    margin: auto;
  }

  h2 {
      margin-top: 20px;
      font-size: 60px;
      color: white !important;
  }

  #scoreboard {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50rem;
  }

  .side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative; /* Novo */
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: rgb(30, 30, 134);
  }

  .score {
    font-size: 150px !important;
    color: white;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }

  #timer {
    font-size: 5rem; /* Alterado */
    position: relative; /* Novo */
    color: white;
    background: black; 
    top: 50%; /* Novo */
    left: 50%; /* Novo */
    transform: translate(-50%, -50%); /* Novo */
  }

  .side-title {
    font-size: 24px; /* Novo */
    position: absolute; /* Novo */
    top: 50%; /* Novo */
    left: 50%; /* Novo */
    transform: translate(-50%, -50%); /* Novo */
    color: white; /* Novo */
    margin: 0; /* Novo */
    padding: 0; /* Novo */
  }